th {
    height: 50vh;
    width: 50vw;
}

button {
    height: 50vh;
    width: 50vw;
    background-color: khaki;
}

#Siwon {

    background-color: lawngreen;
}


#Wison {

    background-color: beige;
}



#Nowis {

    background-color: tan;
}