button {
    font-size: xx-large;
    width: 49vw;
    height: 49vh;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}