tr {
    width: 33vw;
    height: 33vh;
    border: 10px solid black;

}

th {
    background-color: aquamarine;
    height: 33vh;
    width: 99vw;
    border: 10px solid black;
}

td {
    background-color: aquamarine;
    text-align: center;
    height: 33vh;
    width: 99vw;
    border: 10px solid black;
}

textarea {
    background-color: gray;
    width: 80%;
    height: 95%;
}